<p>Email</p>
<input type="text" [(ngModel)]="usuario.email">
<p>Password</p>
<input type="text" [(ngModel)]="usuario.password">
<br>
<br>
<button (click)="AgregarUsuario()" *ngIf="!editar">Agregar</button>
<button (click)="GuardarEditar()" *ngIf="editar">Guardar</button>
<button (click)="CancelarEditar()" *ngIf="editar">Cancelar</button>
<br>
<br>
<button (click)="CambiarVista('grilla')" *ngIf="vista == 'lista'">Ver Grilla</button>
<button (click)="CambiarVista('lista')"  *ngIf="vista == 'grilla'">Ver Listado</button>


<h1 *ngIf="vista == 'lista'">Listado Usuarios</h1>
<app-listado-de-usuarios [listadoUsuarios]="listadoUsuarios" *ngIf="vista == 'lista'" (editarUsuario)="EditarUsuario($event)"></app-listado-de-usuarios>
<h1 *ngIf="vista == 'grilla'">Grilla Usuarios</h1>
<app-grilla-usuarios [listadoUsuarios]="listadoUsuarios" *ngIf="vista == 'grilla'" (editarUsuario)="EditarUsuario($event)" (borrarUsuario)="BorrarUsuario($event)"></app-grilla-usuarios>
