<form action="action_page.php">
        <div class="container">
          <label for="uname"><b>Nombre: ({{usuario.nombre}})</b></label>
          <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="usuario.nombre" required>
      
          <label for="psw"><b>Clave</b></label>
          <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="usuario.clave" required>
          <p *ngIf = "usuario.ok">Bienvenido {{usuario.nombre}}!!!</p>
          <p [hidden] = "!usuario.error">Usuario o Clave Erróneos</p>
      
          <button type="button" (click)="loguear()">Ingresar</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar usuario
          </label>
        </div>
</form>