<div>
  <label>Nombre:
    <input [(ngModel)]="usuarioParaEditar.nombre" placeholder="Ingrese Nombre"/>
  </label>
  <label>Clave:
    <input [(ngModel)]="usuarioParaEditar.clave" placeholder="Ingrese Clave"/>
  </label>
  <label>Reingrese Clave:
    <input [(ngModel)]="confirmacionClave" placeholder="Reingrese Clave"/>
  </label>
</div>

<div>
  <button (click)="cargarUsuario()" *ngIf="muestraBotonCrear()">
    Crear Usuario
  </button>
  <button (click)="modificarUsuario()" *ngIf="muestraBotonModificar()">
    Modificar Usuario
  </button>
  <button (click)="cancelar()" *ngIf="muestraBotonCancelar()">
    Cancelar
  </button>
</div>

<!-- <app-listado [listadoUsuarios]="listadoUsuarios"></app-listado> -->
