<div>
  <label>Nombre:
    <input [(ngModel)]="nuevoUsuario.nombre" placeholder="Ingrese Nombre"/>
  </label>
  <label>Clave:
    <input [(ngModel)]="nuevoUsuario.clave" placeholder="Ingrese Clave"/>
  </label>
  <label>Reingrese Clave:
    <input [(ngModel)]="confirmacionClave" placeholder="Reingrese Clave"/>
  </label>
</div>

<div *ngIf="muestraBoton()">
    <button (click)="cargarUsuario()">
        Crear Usuario
    </button>
</div>

<!-- <app-listado [listadoUsuarios]="listadoUsuarios"></app-listado> -->
<!-- <app-maestro-detalle></app-maestro-detalle> -->
